<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="Warn" monitorInterval="30">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p [%t] %c{1} - %m%n"/>
        </Console>

        <RollingFile name="FileAppender" fileName="logs/app_wmb_ext.log"
                     filePattern="logs/app_wmb_ext.log.%i">
            <PatternLayout>
                <Pattern>[%t] %d{DATE} %5p %c{1} - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.appdynamics.extensions" level="info" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.apache" level="info" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</configuration>